@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
@font-face{
    font-family: 'Georgia';
    src: url('/fonts/georgia.ttf') format('truetype');
}

$blue: #5D8FFE;
$white: #fff;
$black: #000;
$gray: #808080;
$green: #A7CF39;

li{
    list-style: none !important;
}
ul{
    padding-left: 0 !important;
}
a{
    text-decoration: none !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Georgia';

    span{
        font-family: 'Georgia';
    }
}
.main-nav{
    position: sticky;
    top: 0;
    background-color: $white;
    z-index: 10;
}
.inner-nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.65em 0px;
    

    .logo{
        width: 180px;
        height: auto;

        img{
            width: 100%;
            height: auto;
        }
    }
}
.main-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: $blue;
    color: $white;
    padding: 10px 20px;
    border-radius: 100px;
    outline: none;
    border: none;
    padding-right: 10px;
    max-width: max-content;

    &.know-more{
        background: transparent !important;
        padding: 0em 1.5em !important;

        span{
            color: $green;
        }
    }

    &.center{
        margin: 0 auto;
    }
    
    img{
        width: 34px;
        height: auto;
    }

    span{
        color: $white;
        font-size: 16px;
        font-weight: 600;
    }
}
.main-header{
    padding: 0em 0px;
    padding-bottom: 2em;
    position: relative;
    overflow: hidden;

    .container{
        position: relative;
        z-index: 5;
    }

    >img{
        position: absolute;
        pointer-events: none;

        &.sun{
            width: 120px;
            height: auto;
            top: 0;
            left: 55%;
        }

        &.cloud{
            width: 120px;
            height: auto;
            bottom: 5%;
            right: 5%;
        }
    }
}
.banner-content{
    h1{
        font-size: 42px;

        span{
            color: $green;
        }
    }
}
.para{
    color: $black;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}
.sec-head{
    font-size: 42px;
    font-weight: 700 !important;   
    color: $black;

    span{
        color: $green;
    }
}
.ques-card{
    padding: 2.5em 2.5em;
    border-radius: 25px;
    gap: 1em;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    border-style: dashed;
    border-width: 2px;
    border-color: $black;
    border-spacing: 30px;

    &.bulb-card{
        border-style: solid;
        border-width: 2px;
        border-color: $black;
    }
    
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc( 100% - 30px );
        height: calc( 100% - 30px );
        background: var(--bg);
        border-radius: 22px;
    }

    >*{
        position: relative;
        z-index: 5;
    }

    p{
        margin-bottom: 0;
    }
}
.sec{
    padding: 5em 0px;
}
.in-card{
    position: relative;
    padding: 2em 1.5em;
    padding-top: 1.3em;
    border-radius: 20px;
    border: 1px solid $green;
    box-shadow: 0px 0px 10px 0px rgba($color: #A7CF39, $alpha: 0.25);
    background: white;

    h3{
        font-weight: 700 !important;
        font-size: 32px;
    }

    p{
        margin-bottom: 0;
    }
}
.in-row{
    margin-top: -3em !important;
}
.gain-ul{
    position: relative;

    li{
        display: flex;
        align-items: center;
        gap: 0.2em;

        h3{
            font-weight: 700;
            color: #333333;
            margin-bottom: 3px;
        }

        p{
            margin-bottom: 0;
        }
    }
}
.main-footer{
    background: #DDE5ED;
    padding: 5em 0px;
}
.ft-head{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.ft-list{

    li{

        a, p{
            color: black;
            line-height: 120% !important;
            display: inline-block;
            padding: 0.5em 0px;
            margin-bottom: 0;
        }
    }
}
.soc-list{
    display: flex;
    align-items: center;
    gap: 1em;

}
.cta-wrapper{
    position: relative;
    padding: 2.5em 3em;
    border-radius: 16px;
    background: $green;

    h3{
        color: white;
        font-size: 42px;
        margin-bottom: 20px;
    }
}
.mo-checker{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 1.5em 0px;

    >span{
        font-weight: 700;
        font-size: 22px;
        font-family: 'Georgia';
    }
}
.cus-toggler{
    position: relative;
    --width: 35px;

    input{
        position: absolute;
        top: 0;
        opacity: 0;
        pointer-events: none;

        &:checked ~ label{

            span{
                transform: translate( 100%);
            }
        }
    }

    label{
        padding: 0.3em;
        border-radius: 100px;
        background: transparent;
        width: calc( var(--width) * 2.3  ) !important;
        cursor: pointer;
        border: 1px solid black;

        span{
            width: var(--width);
            height: var(--width);
            background: $green;
            border-radius: 50%;
            display: block;
            transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
    }
}
.sub-card{
    position: relative;
    border-radius: 32px;
    background: white;
    padding-bottom: 20px;
    box-shadow: 0px 0px 25px 0px rgba($color: #000000, $alpha: 0.1);

    .strike-price{
        background: transparent !important;
        margin-bottom: 0;
        padding: 0 !important;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        color: black;
        font-size: 24px;
        text-decoration: line-through !important;
    }

    h4{
        padding: 0.5em 1.5em;
        text-align: center;
        color: white;
        font-size: 28px;
        font-weight: 700;
        background: $green;
    }

    .sub-top{
        text-align: center;
        padding: 0px 2.5em;

        h3{
            font-weight: 700;
            font-size: 42px;
            margin-bottom: 15px;
            font-family: 'Open Sans', sans-serif;
        }

        p{
            background: $green;
            font-weight: 700;
            color: white;
            font-size: 24px;
            font-family: 'Georgia', sans-serif;
            padding: 0.4em 15px ;
            border-radius: 20px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
    }

    .know-more{
        margin-bottom: 2em !important;
    }

    .points{
        position: relative;
        padding: 1em 1.5em;
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 8px;

        ul{
            padding-left: 20px !important;

            li{
                font-size: 16px;
                font-weight: 700;
                line-height: 120%;
                list-style: disc !important;
                
                &:not(:last-child){
                    margin-bottom: 15px;
                }

                &::marker{
                    background: $green !important;
                    color: $green !important;
                    font-size: 22px;
                }
            }
        }
    }
}

.points{
    position: relative;
    padding: 1em 1.5em;

    ul{
        padding-left: 0px !important;

        li{
            font-size: 16px;
            font-weight: 700;
            line-height: 120%;
            list-style: disc !important;
            
            &:not(:last-child){
                margin-bottom: 15px;
            }

            &::marker{
                background: $green !important;
                color: $green !important;
                font-size: 22px;
            }
        }
    }
}
.test-swiper{

    .swiper-slide{
        height: auto;
    }
}
.testimonial-card{
    position: relative;
    padding: 1.5em 2.5em;
    background: $green;
    border-radius: 20px;
    height: 100%;
    padding-bottom: 2.3em;

    h4{
        text-align: center;
        color: black;
        font-size: 24px;
    }
    p{
        text-align: center;
        color: white;
        margin-bottom: 0;
        font-size: 16px;
    }
}
.acc{
    position: relative;

    .accordion-item{
        margin-bottom: 20px;
        border-radius: 20px !important;
        overflow: hidden;
        background: #E1E7EE !important;
        box-shadow: 0px 0px 10px 0px rgba($color: #000000, $alpha: 0.25);
    }
    .accordion-button{
        padding: 24px 22px !important;
        border: 1px solid transparent !important;
        border-radius: 20px !important;
        color: #1D1D1D !important;
        font-weight: 500 !important;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 16px !important;

        &:not(.collapsed){
            border: 1px solid #A7CF39 !important;
            box-shadow: 0px 0px 10px 0px rgba($color: #A7CF39, $alpha:0.25) !important;
            background: white !important;
        }
    }
    .accordion-body{
        border-bottom-right-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        background: #E1E7EE !important;
        color: #565656;
        font-size: 14px;
        padding: 20px 20px !important;
    }
}
.cc-modal{
    
    .modal-dialog{
        max-width: 800px !important;
    }
    .modal-header{

        color: $green;
    }
}